@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* Color */
  --color-whitesmoke: #f9f9f9;
  --color-white: #fff;
  --color-darkgray: #9ca3af;
  --color-gray: #121212;

  /* Gap */
  --gap-40: 40px;

  /* BorderRadius */
  --br-4: 4px;

  /* Font */
  --font-nunito: Nunito;
  --font-inter: Inter;

  /* FontSize */
  --font-size-14: 14px;
}
