@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* Color */
  --color-gray: #121212;
  --color-white: #fff;
  /* Gap */
  --gap-40: 40px;
  /* BorderRadius */
  --br-4: 4px;
  /* Font */
  --font-nunito: Nunito;
  --font-inter: Inter;
}
