// Fonts
$font-nunito: "Nunito", sans-serif;
$font-inter: "Inter", sans-serif;

// Colors
$color-whitesmoke: #f9f9f9;
$color-white: #fff;
$color-darkgray: #9ca3af;
$color-gray: #121212;
$light-text: #404040;

// Gaps
$gap-40: 40px;

// Border Radius
$br-4: 4px;

// Font Sizes
$font-size-14: 14px;
